body{
    background-color: #ffc4c4;
    margin: 0px;
    font-family: 'Comic Sans MS', cursive;

#titleText {
    color: #be2846;
}

}

#introText{
    color: #ff6287;
}

.highlight{
    color: #ff146a;
    font-weight: bold;
}

#introContainer {
    width: 470px;
    float: left ;
}

#introPicture {
    float: left;
}

.reset {
    clear: both;
}

#hobbyContainer {
    width: 420px;
    float: left;
}

.socialTmb {
    float: left;
}