

body {
    background-color: #ffc4c4;
    margin: 0px;
    font-family: 'Comic Sans MS', cursive;
    color: #ff6287;
}

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%%;
      }


#titleText {
    text-align: center;
    color: #ff146a;
    
}

#titleText2 {
text-align: center;
    color: #ff146a;
}

#introText{
    text-align: center;
    color: #ff6287;
}

#mainContainer {
    width: 500px;
    margin: auto;
}

.highlight{
    color: #ff146a;
    font-weight: bold;
}

#introContainer {
    width: 470px;
    float: left ;
}

#introPicture {
    float: left;
}

.reset {
    clear: both;
}


#hobbyContainer {
    text-align: center;
    width: 420px;
    float: left;
}

.socialTmb {
    align-items: center;
    margin: 400px;
}

#navigation {
    border-radius: 5px;
    background-color: #ffbccc;
    color: #ff1a4f;
    border-color: #ff146a;
    align-items: center;
}